extends layout

block content
	#login-container
		form(action="auth/login?redirectUrl=#{redirectUrl || ''}", method="post")#login-form.well.span4
			div
				span#logo
				span.title EIKOS PARTNERS
			.unauthorized #{unauthorized}
			label Username:
			div
				input(type="text", name="user").span4.required
			label Password:
			div
				input(type="password", name="pass").span4.required
			br
			div
				button(type="submit")#btn-login.btn.btn-primary
					i.icon-lock.icon-white
					| Sign in
