/** {
  font-family: Muli, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}*/

body {
  padding: 50px;
  background-color: #20242a;
  background-size: 100px;
  background-position: fixed;
}

#login-container {
    width: 400px;
    height: 250px;
    padding: 10px;
    margin: 0 auto;
}

#login-container > form > div > .title {
    font-size: 26px;
    /*color: #ffd635;*/
}

#login-container > form {
    width: 250px;
    margin: 0 auto;
}

#login-container > form > .unauthorized {
    color: red;
}
